@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
  font-family: 'Montserrat', sans-serif;
}


@media (min-width: 0px) and (max-width: 445px) {

  body {
    margin: 0px;
    padding: 0px;
    background-image: url("../img/math2.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

  }

  #container1 {
    display: grid;
    grid-template-rows: 10% 80% 10%;
    grid-template-columns: 100%;
    height: 100vh;
  }

  #section {
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 5% 1fr 5%;
  }

  #container2 {
    grid-row: 1 / span 1;
    grid-column: 2 / span 1;
    display: grid;
    grid-template-rows: 10% 80% 10%;
    grid-template-columns: 100%;
    height: 80vh;
  }

  #container3 {
    grid-row: 2 / span 1;
    grid-column: 1 / span 1;
    display: grid;
    grid-template-rows: 17% 2% 17% 2% 17% 2% 17% 2% 15%;
    /* grid-template-rows: 25% 10% 25% 1fr 15%; */
    grid-template-columns: 50% 50%;
    height: 50vh;
    background-color: rgba(0, 0, 0, 0.783);
    border-radius: 6px;;
  }

  #emailBox {
    grid-row: 1 / span 1;
    grid-column: 1 / span 3;
    width: 85%;
    justify-self: center;
    margin-top: 1.7rem;
    margin-bottom: .3rem;
    background-color: rgb(196, 196, 196);
    border: 2px solid white;
    border-radius: 6px;
    font-size: 20px;
    color: black;
  }

  #passowrdBox {
    grid-row: 3 / span 1;
    grid-column: 1 / span 3;
    margin-bottom: 15px;
    width: 85%;
    justify-self: center;
    margin: 1rem;
    font-size: 20px;
    background-color: rgb(196, 196, 196);
    border: 2px solid white;
    border-radius: 6px;
    color: black;
  }

  #createAccount {
    color: white;
  }

  #firstNameBox{
    grid-row: 5 / span 1;
    grid-column: 1 / span 3;
    margin-bottom: 15px;
    width: 85%;
    justify-self: center;
    margin: 1rem;
    font-size: 20px;
    background-color: rgb(196, 196, 196);
    border: 2px solid white;
    border-radius: 6px;
    color: black;
  }

  #lastNameBox{
    grid-row: 7 / span 1;
    grid-column: 1 / span 3;
    margin-bottom: 15px;
    width: 85%;
    justify-self: center;
    margin: 1rem;
    font-size: 20px;
    background-color: rgb(196, 196, 196);
    border: 2px solid white;
    border-radius: 6px;
    color: black;
  }

  #createButton{
    grid-row: 9 / span 1;
    grid-column: 1 / span 2;
    width: 86.5%;
    margin-left: 1.5rem;
    margin-bottom: 1rem;
    margin-top: .2rem;
    font-size: 20px;
    background-color: #2C3333;
    border: 2px solid #CDBE78;
    border-radius: 6px;
    color: #CDBE78;
  }

}

@media (min-width: 446px) {

  body {
    margin: 0px;
    padding: 0px;
    background-image: url("../img/math2.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  #container1 {
    display: grid;
    grid-template-rows: 10% 80% 10%;
    grid-template-columns: 100%;
    height: 100vh;
  }

  #section {
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 1fr 410px 1fr;
  }

  #container2 {
    grid-row: 1 / span 1;
    grid-column: 2 / span 1;
    display: grid;
    grid-template-rows: 10% 1fr 10%;
    grid-template-columns: 100%;
    height: 80vh;
    max-width: 410px;
    min-width: 409px;
  }

  #container3 {
    grid-row: 2 / span 1;
    grid-column: 1 / span 1;
    display: grid;
    grid-template-rows: 17% 2% 17% 2% 17% 2% 17% 2% 15%;
    grid-template-columns: 50% 50%;
    height: 50vh;
    background-color: rgba(0, 0, 0, 0.783);
    border-radius: 6px;;
    
  }

  #emailBox {
    grid-row: 1 / span 1;
    grid-column: 1 / span 3;
    width: 85%;
    justify-self: center;
    margin-top: 1.7rem;
    margin-bottom: .3rem;
    background-color: rgb(196, 196, 196);
    border: 2px solid white;
    border-radius: 6px;
    font-size: 20px;
    color: black;
  }

  #passowrdBox {
    grid-row: 3 / span 1;
    grid-column: 1 / span 3;
    margin-bottom: 15px;
    width: 85%;
    justify-self: center;
    margin: 1rem;
    font-size: 20px;
    background-color: rgb(196, 196, 196);
    border: 2px solid white;
    border-radius: 6px;
    color: black;
  }

  #createAccount {
    color: white;
  }

  #firstNameBox{
    grid-row: 5 / span 1;
    grid-column: 1 / span 3;
    margin-bottom: 15px;
    width: 85%;
    justify-self: center;
    margin: 1rem;
    font-size: 20px;
    background-color: rgb(196, 196, 196);
    border: 2px solid white;
    border-radius: 6px;
    color: black;
  }

  #lastNameBox{
    grid-row: 7 / span 1;
    grid-column: 1 / span 3;
    margin-bottom: 15px;
    width: 85%;
    justify-self: center;
    margin: 1rem;
    font-size: 20px;
    background-color: rgb(196, 196, 196);
    border: 2px solid white;
    border-radius: 6px;
    color: black;
  }

  #createButton{
    grid-row: 9 / span 1;
    grid-column: 1 / span 2;
    width: 86.5%;
    margin-left: 1.7rem;
    margin-bottom: 1rem;
    font-size: 20px;
    background-color: #2C3333;
    border: 2px solid #CDBE78;
    border-radius: 6px;
    color: #CDBE78;
  }
}