@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
  font-family: 'Montserrat', sans-serif;
}

@media (min-width: 0px) and (max-width: 650px) {

  body {
    margin: 0px;
    padding: 0px;
    /* background-color: black; */
  }

  #container1{
    display: grid;
    grid-template-rows: 10% 1fr 10%;
    grid-template-columns: 100%;
    height: 100vh;
  }

  #navbar{
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
  }

  #container2{
    display: grid;
    grid-template-rows: 800px 1fr;
    grid-template-columns: 5% 90% 5%;
  }

  #container3{
    grid-row: 1 / span 1;
    grid-column: 2 / span 1;
    display:grid;
    grid-template-rows: 7% 43% 40% 10%;
    grid-template-columns: 100%;
    grid-gap: .5rem;
    height: 85vh;
  
  }

  #welcome{
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
    color: black;
    font-size: 12px;
  }

  #imageContainer{
    grid-row: 2 / span 1;
    grid-column: 1 / span 1;
    margin-right: 2rem;
  }

  #profileImage{
    width: 100%;
    height: 85%;
    object-fit: cover;
    border-radius: 10px;
    padding: 1rem;
    border: 3px solid rgba(90, 90, 90, 0.819);
  }

  #userFields{
    grid-row: 3 / span 1;
    grid-column: 1 / span 1;
    border-radius: 6px;
    border: .5px solid grey;

  }

  #buttonForm{
    display: grid;
    grid-template-rows: 16.6% 16.6% 16.6% 16.6% 16.6% 16.6%;
    grid-template-columns: 50% 50%;
    grid-gap: .2rem;
    height: 30vh;
    margin-right: .4rem;
  }

  #findImage{
    display:none;
  }

  .findImageStyle{
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
    color: black;
    border: 1px solid rgba(90, 90, 90, 0.819);
    border-radius: 6px;
    padding-top: 5%;
    text-align: center;
  }

  #userFirstName{
    grid-row: 2 / span 1;
    grid-column: 1 / span 2;
    background-color: black;
    color: white;
    border: 1px solid rgba(90, 90, 90, 0.819);
    border-radius: 6px;
  }

  #userLastName{
    grid-row: 3 / span 1;
    grid-column: 1 / span 2;
    background-color: black;
    color: white;
    border: 1px solid rgba(90, 90, 90, 0.819);
    border-radius: 6px;

  }

  #userEmail{
    grid-row: 4 / span 1;
    grid-column: 1 / span 2;
    background-color: black;
    color: white;
    border: 1px solid rgba(90, 90, 90, 0.819);
    border-radius: 6px;

  }

  #userPassword{
    grid-column: 1 / span 2;
    grid-row: 5 / span 1;
    background-color: black;
    color: white;
    border: 1px solid rgba(90, 90, 90, 0.819);
    border-radius: 6px;

  }

  #saveButton{
    grid-column: 1 / span 2;
    grid-row: 6 / span 1;
    background-color: rgba(120, 195, 120, 0.713);
    color: white;
    border: 1px solid white;
    border-radius: 6px;
  }

  #edit{
    grid-row: 4 / span 1;
    grid-column: 1 / span 1;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
  }

  #editButton{
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
    margin-top: .7rem;
    margin-bottom: .7rem;
    margin-left: .5rem;
    margin-right: .5rem;
    background-color: rgba(90, 146, 180, 0.735);
    color: white;
    border: 2px solid white;
    border-radius: 6px;
  }

  #container4{
    grid-row: 2 / span 1;
    grid-column: 2 / span 1;
    padding-left: 20px;
  }

  textarea{
    max-width:90%;
  }

  #logoutButton{
    float:right;
    background-color: rgba(174, 174, 174, 0.437);
    color:white;
    font-size: 23px;
    border:none;
}

}

@media (min-width: 651px) {

  body {
    margin: 0px;
    padding: 0px;
    /* background-color: black; */
  }

  #container1{
    display: grid;
    grid-template-rows: 10% 1fr 10%;
    grid-template-columns: 100%;
    height: 100vh;
  }

  #navbar{
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
  }

  #container2{
    display: grid;
    grid-template-rows: 85% 1fr;
    grid-template-columns: 1fr 40% 1fr;
  }

  #container3{
    grid-row: 1 / span 1;
    grid-column: 2 / span 1;
    display:grid;
    grid-template-rows: 10% 55% 30% 10%;
    grid-template-columns: 100%;
    height: 85vh;
    max-width: 600px;
    min-width: 450px;
  }

  #welcome{
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
    color: black;
    
  }

  #imageContainer{
    grid-row: 2 / span 1;
    grid-column: 1 / span 1;

  }

  #profileImage{
    width: 90%;
    height: 90%;
    object-fit: cover;
    border-radius: 10px;
    padding: 1rem;
    border: 3px solid rgba(90, 90, 90, 0.819);
  }
  
  #userFields{
    grid-row: 3 / span 1;
    grid-column: 1 / span 1;
    border-radius: 6px;
    border: .5px solid grey;
    max-width:91.5%;
    min-width:90%;
  }

  #buttonForm{
    display: grid;
    grid-template-rows: 25% 25% 25% 25%;
    grid-template-columns: 50% 50%;
    height: 20vh;
    grid-gap: .5rem;
    margin-right: .4rem;
  }

  #findImage{
    display:none;
  }

  .findImageStyle{
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
    width:85%;
    padding-top: 5%;
    /* color: white; */
    border: 1px solid rgba(90, 90, 90, 0.819);
    border-radius: 6px;
    text-align: center;
  }

  #userFirstName{
    grid-row: 2 / span 1;
    grid-column: 1 / span 1;
    background-color: black;
    color: white;
    border: 1px solid rgba(90, 90, 90, 0.819);
    border-radius: 6px;
  }

  #userLastName{
    grid-row: 2 / span 1;
    grid-column: 2 / span 1;
    background-color: black;
    color: white;
    border: 1px solid rgba(90, 90, 90, 0.819);
    border-radius: 6px;
  }

  #userEmail{
    grid-row: 3 / span 1;
    grid-column: 1 / span 1;
    background-color: black;
    color: white;
    border: 1px solid rgba(90, 90, 90, 0.819);
    border-radius: 6px;
  }

  #userPassword{
    grid-column: 2 / span 1;
    grid-row: 3 / span 1;
    background-color: black;
    color: white;
    border: 1px solid rgba(90, 90, 90, 0.819);
    border-radius: 6px;

  }

  #saveButton{
    grid-column: 1 / span 2;
    grid-row: 4 / span 1;
    background-color: rgba(120, 195, 120, 0.713);
    color: white;
    border: 1px solid white;
    border-radius: 6px;
  }

  #edit{
    grid-row: 4 / span 1;
    grid-column: 1 / span 1;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
  }

  #editButton{
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: .5rem;
    margin-right: .5rem;
    background-color: rgba(90, 146, 180, 0.735);
    color: white;
    border: 2px solid white;
    border-radius: 6px;
  }

  #container4{
    grid-row: 2 / span 1;
    grid-column: 2 / span 1;
    padding-left: 20px;
  }

  textarea{
    max-width:90%;
  }

  #logoutButton{
    float:right;
    background-color: rgba(174, 174, 174, 0.437);
    color:white;
    font-size: 23px;
    border:none;
  }
  
}