@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
  font-family: 'Montserrat', sans-serif;
}

@media (min-width: 0px) and (max-width: 445px) {

  body {
    margin: 0px;
    padding: 0px;
    background-color: black;
  }

  #container1{
    display:grid;
    grid-template-rows: 5% 95%;
    grid-template-columns: 100%;
    height: 100vh;
  }

  #container2{
    display: grid;
    grid-template-rows: 5% 47% 47%;
    grid-template-columns: 7% 94% 2%;
    height: 100vh;
  }

  #search{
    grid-row: 2 / span 1;
    grid-column: 2 / span 1;
  }

  #adminDash{
    display: grid;
    grid-template-rows: 33% 33% 33%;
    grid-template-columns: 100%;
    height: 45vh;
  }

  #searchBar{
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
    width: 90%;
    justify-self: center;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
    margin-right: 9%;
    background-color: rgb(196, 196, 196);
    border: 2px solid white;
    border-radius: 6px;
    font-size: 20px;
    color: black;

  }

  #searchUsers{
    grid-row: 2 / span 1;
    grid-column: 1 / span 1;
    width: 90%;
    font-size: 20px;
    background-color: rgb(107, 169, 94);
    border: 2px solid white;
    border-radius: 6px;
    color: white;
    justify-self: center;
    margin-top: 1.5rem;
    margin-bottom: 3rem;
    margin-right: 10%;
  }

  #showDB{
    grid-row: 3 / span 1;
    grid-column: 1 / span 1;
    width: 90%;
    font-size: 20px;
    background-color: rgb(94, 155, 169);
    border: 2px solid white;
    border-radius: 6px;
    color: white;
    justify-self: center;
    margin-bottom: 4.5rem;
    margin-right: 10%;
  }

  #logoutButton{
    background-color: black;
    color:white;
    font-size: 23px;
    border: 1px solid black;
  }

}

@media (min-width: 446px) {

  body {
    margin: 0px;
    padding: 0px;
    background-color: black;

  }

  #container1{
    display:grid;
    grid-template-rows: 10% 90%;
    grid-template-columns: 100%;
    height: 100vh;
  }

  #container2{
    display: grid;
    grid-template-rows: 20% 60% 20%;
    grid-template-columns: 20% 60% 20%;
  }

  #search{
    grid-row: 2 / span 1;
    grid-column: 2 / span 1;
  }

  #adminDash{
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 70% 30%;
    grid-gap: 1rem;
    height: 55vh;
  }

  #searchBar{
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
    background-color: rgb(196, 196, 196);
    border: 2px solid white;
    border-radius: 6px;
    font-size: 20px;
    color: black;
    margin:1rem;
    margin-top: 5rem;
    margin-bottom: 5rem;

  }

  #searchUsers{
    grid-row: 1 / span 1;
    grid-column: 2 / span 1;
    font-size: 20px;
    background-color: rgb(107, 169, 94);
    border: 2px solid white;
    border-radius: 6px;
    color: white;
    margin-top: 5rem;
    margin-bottom: 5rem;
    text-align: center;
  }

  #showDB{
    grid-row: 2 / span 1;
    grid-column: 1 / span 2;
    font-size: 20px;
    background-color: rgb(94, 155, 169);
    border: 2px solid white;
    border-radius: 6px;
    margin-bottom: 10rem;
    margin-left: 1.2rem;
    text-align: center;
  }

  #logoutButton{
    background-color: black;
    color:white;
    font-size: 25px;
    border: 1px solid black;
  }

}